{% extends "base.html" %}
{% load comments %}

{% block title %}blog detail{% endblock %}

{% block content %}
	<h1>{{ post.title }}</h1>
	<h2>{{ post.author }}</h2>
	<p>{{ post.body }}</p>

	{% if user.is_authenticated %}
		{% get_comment_form for post as form %}
		<form action="{% comment_form_target %}" method="POST">
		    {% csrf_token %}
		    {{ form.comment }}
		    {{ form.honeypot }}
		    {{ form.content_type }}
		    {{ form.object_pk }}
		    {{ form.timestamp }}
		    {{ form.security_hash }}
		    
		    <input type="submit" value="Add comment" id="id_submit" />
	    </form>
	{% else %}
    	<p>Please <a href="{% url 'login' %}">log in</a> to leave a comment.</p>
	{% endif %}

	<div>comments:</div>
	<div>{% get_comment_count for post as comment_count %}</div>
	{% render_comment_list for post %}

{% endblock %}